{
  "extends": ["@jaxin007/backend"],
  "rules": {
  "import/extensions": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/return-await": "off",
    "max-len": ["error", { "code": 2000 }]
}
}
